@media (max-width: 375px) {
    header .logo {
        left: 11px;
    }
    header ul {
        top: 10px;
        left: 0px;
        width: 299px;
    }
    section .container-bg .triangle {
        width: 315px;
    }
    /* Paper */
    section .container-paper .circle-paper {
        clip-path: circle(59px);
    }
    section .container-paper .circle-paper .circle-before-paper {
        clip-path: circle(43px);
    }
    section .container-paper {
        top: -125px;
        left: -115px;
    }
    /* scissors */
    section .container-scissors .circle-scissors {
        clip-path: circle(59px);
    }
    section .container-scissors .circle-scissors .circle-before-scissors {
        clip-path: circle(43px);
    }
    section .container-scissors {
        top: -125px;
        right: 41px;
    }
    /* Rock */
    section .container-rock .circle-rock {
        clip-path: circle(59px);
    }
    section .container-rock .circle-rock .circle-before-rock {
        clip-path: circle(43px);
    }
    section .container-rock {
        bottom: -84px;
    }
    section .rules {
        width: 111px;
        right: 4%;
    }
}